@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f1819;
    color: #dddada;
  }
  textarea:focus,
  input:focus,
  select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
  }
  .navbar {
    background: transparent;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
    transition: 1s;
  }
  .navbar.active {
    background: black;
    transition: 1s;
    opacity: 0.9;
  }

  .banner {
    background-image: url(https://images.wallpaperscraft.com/image/single/lantern_wall_glow_176891_2560x1440.jpg);
    background-position: center;
    min-height: 100vh;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .btnScroll {
    animation: moveUpDown 1s ease-in-out infinite;
  }
  @keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  #item {
    text-shadow: 3px 3px 3px black;
  }
  .btn-sobre {
    border-radius: 10px;
    background: black;
    border: 1px solid rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(194, 194, 0);
    padding: 0.2em 0.8em;
    cursor: pointer;
    gap: 4px;
  }
  .btn-sobre:hover {
    background-color: yellow;
    color: black;
  }
  .footer {
    background-image: linear-gradient(to top, #9aa36f 0%, #0f1819 100%);
  }

  #inputRiddle {
    border: none;
    border-bottom: 4px solid black;
    transition: border-bottom-color 0.2s ease-in-out;
  }
  #inputRiddle:hover {
    border-bottom-color: rgb(234 179 8);
  }

  .temperatureBar {
    width: 200px;
    height: 7px;
    background: rgb(242, 15, 13);
    background: linear-gradient(
      294deg,
      rgb(68, 241, 0) 0%,
      rgb(255, 0, 0) 100%
    );
    position: relative;
  }

  #ball {
    position: relative;
    top: -9px;
  }

  #button {
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent 100%);
  }

  .animate-content {
    animation: fade-in 1s ease;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-overlay {
    animation: fade-out 0.5s ease;
  }
}
