/* Home Page ---------------*/

.menu{
    background-image:url(https://images.wallpaperscraft.com/image/single/lantern_wall_glow_176891_2560x1440.jpg);
    min-height: 85vh;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.container{
    color: aliceblue;
    position: relative;
    flex-direction: column;
    display: flex;
    width: 75%;
    font-size: 20px;
}
.menuDestaque-titulo{
    font-size: 40px;
}
.menuDestaque-titulo-2{
    color: #FBFF2A;
}

.btn-container{
    margin-top: 20px;
    cursor: pointer;
}

.btn-container :hover{
    color: #FBFF2A;
    background: #000000;
    font-size: 18px;
    transition: 0.4s;
}
.btn-container :active{
    background-color: transparent;
    border-color: #dddada;
}

.btn-container-link{
    text-decoration: none;
    color: #000000;
    align-items: center;
    font-size: 16px;
    height: 30px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    border: transparent;
    background-color: #FBFF2A;
}

/* Boxes ---------------*/

.tituloModulos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tituloModulo-titulo{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color:#FBFF2A;
    padding: 0px 5px;
}
.conteudoModulos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.conteudoModulos :hover{
    border-color: #FBFF2A;
}

/* Cards ---------------*/
.card{
    background-color: #000000;
    color: #dddada;
    margin: 1vw 3vw;
    min-width: 250px;

    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s
}

.card:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FBFF2A;
}
.btn :hover{
    background-color: #000000;
    transition: 0.4s;
    
}

@media (max-width: 700px){
    .menuDestaque-titulo{
        font-size: 25px;
    }
    .menuDestaque-titulo-2{
        color: #FBFF2A;
    }
    .menuDestaque-texto{
        font-size: 18px;
    }
    .tituloModulo-titulo{
        font-size: 30px;
    }
    
}
