.card{
    width: 50vw;
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 20px;
    background-color: rgb(109, 109, 109);
}

.blockquote-footer{
    color: white;
}

@media (max-width: 700px){
    .card{
        width: 70vw;
    }
}

@media (max-width: 400px){
    .card{
        width: 80vw;
    }
    .blockquote .blockquote-footer{
        font-size: 15px;
    }
    .blockquote{
        font-size: 18px;
    }
}