
.titulo-desafios{
    
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    align-items: center;
    height: 50px;
    font-size: 15px;
    background-position: 60cm;
}
.titulo-style{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    border-radius: 5px;
    padding: 4px;
    background-color: #000000;

}
.box1{
    color: #FBFF2A;
    margin-right: 20px;
}


/* Menu ---------------*/
.menu{
    background-color: #000000;
}
.menuPrincipal{
    margin-top: 20px;
    color: #dddada;
    margin-bottom: 20px;
    border: 0.1px solid;
    border-color: #000000;
    border-radius: 4px;
    padding: 10px 0px;
    background-image: linear-gradient(to left, #2e2e2e 0%, #0e0e0e 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
}
    
    
    
.menuPrincipal .container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    justify-content:center;
    padding: 0px 10px;
}
.container{
    width: 50vw;
}

.conteudoMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    margin: 20px 0px;
}

.txtTexto{
    padding-bottom: 10px;
    text-align: center;
}

.imgDinheiro{
    width: 300px;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: #000000 1px 1px 5px;
}

.campoTexto{
    width: 300px;
    height: 33px;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}
/* Botão ---------------*/
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao :hover{
    color: white;
    background-color: #161515;
    font-size: 17px;
}
.botao :active{
    background-color: transparent;
    border-color: #dddada;
}

.botaoResolver{
    align-items: center;
    color: #ffffff;
    background-color: transparent;
    font-size: 16px;
    margin: 20px 30px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border-color: #595c5f;
    cursor: pointer;
}
.btnHome{
    text-decoration: none;
    color: white;
}

/* Botão proxima fase ---------------*/

#btnGo{
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    border-color: #595c5f;
    cursor: pointer;
    background: url(../Galeria/btn-play.png);
    background-size: 80px;
    background-position: center;
}

@media (max-width: 1150px){

} 
@media (max-width: 700px){
    .menuPrincipal .container{
        width: 90vw;
    }
}

@media (max-width: 400px){
    .imgDinheiro{
        width: 250px; 
    }
    .campoTexto{
        width: 250px;
    }
}
