

.titulo-desafios{
    
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    align-items: center;
    height: 80px;
    font-size: 25px;
    margin-bottom: 20px;
    background-image: url(https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/cca4e357edde9c2081bceecc35f4bebf.jpg);
    background-position: 60cm;
}
.titulo-style{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    border-radius: 5px;
    padding: 4px;
    background-color: #000000;

}
.box1{
    color: #6495ED;
    margin-right: 20px;
}


.desafios{
    display: flex;
    justify-content: center;
}
.desafios-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;

}
.desafios-itens{
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 70px;
    width: 200px;
    justify-content: space-around;
    margin: 10px 0px;
    border: solid 1px;
    border-radius: 8px;
    background-image: linear-gradient(to top, #accbee 0%, #6495ED 100%);
    font-size: large;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.logo-play{
    width: 40px;
    display: flex;
}